    body{
        text-align: center;
        background-color: rgb(56, 54, 68);
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
    }


    h1, h2 {
        color: rgb(255, 255, 255);
        margin-bottom: 0px;
        margin-top: 1px;
        outline: none;
        text-align: center;
    }

    button{
        cursor: pointer;
        text-align: center;
        margin: 10px;
        padding: 5px;
        padding-left: 8px;
        padding-right: 8px;
        background-color: rgb(56, 54, 68);
        color: white;
        border: 1px solid;
        border-color:  rgb(56, 54, 68);
        border-radius: 7px;
        box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.2);
    }


  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(46, 41, 82);
    color: white;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
    overflow-y: scroll;
    white-space: nowrap;
  }
  
  
  .sidenav a:hover {
    color: #7f7e7e;
    background-color: #f4f4f4;
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
  }



  .sidebarr {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    background-color: rgb(46, 41, 82);
    color: white;
    padding-top: 60px;
    z-index: 1;
  }


  #hider {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    height: 100%;
  }
  
  .sidebarr a:hover {
    color: #7f7e7e;
    background-color: #d2d2d2;
  }

  .sidebarr a {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
  }

  .closebtn {
    position: absolute;
    width: 100%;
    top: 0;
    margin-left: 0;
    padding-left: 0;
    background-color: "";
  }

  .sidebarr .closebtn{
    width: 35px;
  }
  .icons {
    padding-right: 10px;
  }
  
  hr{
    margin: 5px;
    border: 2px solid #005223;
    border-radius: 2px;
  }

  img{
    cursor: pointer;
  }
  